    
     </main>

     <!-- Footer -->
     <footer>

     </footer>
    
     <%- include('./modal') %>

    <!-- All references Javascript -->
    <!-- Reference jquery -->
    <script src="js/jquery-3.6.0.min.js"></script>
    <!-- Reference bootstrap -->
    <script src="js/bootstrap.min.js"></script>
    <!-- Reference datatable -->
    <script src="js/datatables.min.js"></script>
    <!-- Reference sweetAlert2 -->
    <script src="js/sweetalert2.all.min.js"></script>
    <!-- Reference my script -->
    <script src="js/script.js"></script>
</body>
</html>