<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD-PERSON-LOGIN-NODEJS-MYSQL</title>

    <!-- All  css references-->
    <!-- Reference bootstrap -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- Reference datatable -->
    <link rel="stylesheet" href="css/datatables.min.css">
    <!-- Referencia my styles -->
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
