:root{
    --main-bg-mycolor: #52b848;
}

body {
    padding: 0;
    background-color: #f8f9fa;
}

.btn-button {
    background-color: var(--main-bg-mycolor);
    color: white;
}

.container-custom {
    background-color:white;
    
}

.btn-user {
    border-radius: 10rem;
}

.btn-account {
    border-radius: 10rem;
}

#form input {    
    border-radius: 10rem;
}

